//colores
$blanco025: rgba(255, 255, 255, 0.25);
$blanco02: rgba(255,255,255,0.2);
$blanco015: rgba(255,255,255,0.15);
$a-color: rgba(141, 70, 70, 0.932);
$a-color-hover: rgba(128, 42, 42, 0.932);


//responsive
$mobile-S: 320px;
$mobile-M: 375px;
$mobile-L: 425px;
$tablet: 768px;
$portatil: 1024px;

//medidas generales
$full: 100%;